* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #DAFFFB;
}

body {
  background-color: #001C30;
}

.nav_bar {
  display: flex;
  gap: 18px;
  justify-content: space-around;
  background-color: #001C30;
  font-size: 1.25rem;
  padding: 12px;
}

.menu {
  display: flex;
  gap: 14px;
}

.logo {
  height: 30px;
  width: 30px;
}

.main_container {
  display: flex;
  justify-content: center;
  gap: 6%;
  margin-top: 14%;

}

.plant_logo {
  height: 300px;
  width: 300px;
}

.hero {
  font-size: 2.8rem;
  width: 35%;
  padding: 4px;
  color: #DAFFFB;
}

.logo_container {
  width: 25%;
}


.plant_logo {
  height: 250px;
  width: 250px;
}

@media (max-width:1380px) {
  .hero {
    font-size: 2.6rem;
    width: 40%;
  }

  .logo_container {
    width: 25%;
  }
}

@media (max-width:1100px) {
  .hero {
    font-size: 2.4rem;
    width: 40%;
  }
}

.more_container {
  margin-top: 15%;
  margin-bottom: 14%;
  display: flex;
  gap: 8%;
  justify-content: center;
}

more>div>img {
  height: 300px;
  width: 300px;
}

.why_eat_plant {
  text-align: justify;
  font-size: 1.2rem;
  width: 45%;
  padding: 4px;
}

.bottom-container {
  margin-top: 6%;
}

.bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

hr {
  margin-left: 25%;
  border: solid 0.1px floralwhite;
  width: 50%;
}

@media (max-width:768px) {
  .nav_bar {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    justify-content: center;
    gap: 10px;
  }

  .logo_container {
    margin-right: 10%;
    margin-bottom: 15%;
  }

  .plant_logo {
    height: 150px;
    width: 150px;
  }

  .hero {
    font-size: 1.15rem;
    width: 50%;
  }

  .more_container {
    display: block;
    justify-content: center;
    margin-left: 6%;
    margin-bottom: 15%;
  }

  .why_eat_plant {
    font-size: 1rem;
    width: 90%;
    justify-content: left;
  }

  more>div>img {
    height: 150px;
    width: 150px;
    float: left;
  }

  .bottom_content {
    flex-direction: column;
    align-items: center;
  }

}